body, h1, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-bottom: 60px; /* ajustez cela selon la hauteur de votre footer */
    box-sizing: border-box;
    justify-content: flex-start; /* Change from center to flex-start to allow natural flow */
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 10px 20px;
}

h1 {
    color: #0056b3;
    font-size: 24px;
}

.auth-nav a {
    padding: 8px 16px;
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF; /* Ajout d'un contour bleu */
    border-radius: 20px; /* Bordures arrondies */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease; /* Transition douce pour hover */
    text-decoration: none; /* Supprimer le soulignement des liens */
}

.auth-nav a:hover {
    background-color: #007BFF; /* Couleur de fond au survol */
    color: white; /* Texte blanc au survol */
}

.main-nav ul, .auth-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.main-nav ul li, .auth-nav ul li {
    margin: 0 20px;
}

.header-title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-title span {
    color: #0056b3;
    font-size: 24px;
    margin-left: 10px;
}

.main-nav a, .auth-nav a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.main-nav a:hover, .auth-nav a:hover, .main-nav a.active {
    color: #007BFF;
}

.btn, .action-btn, .task-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    margin: 5px;
}

.btn:hover, .action-btn:hover, .task-btn:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.action-btn.add-task {
    background-color: #28a745; /* Vert pour actions */
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.action-btn.add-task:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.task-btn {
    background-color: #dc3545; /* Rouge pour les tâches critiques comme supprimer */
    color: white;
}

.task-btn:hover {
    background-color: #c82333;
}

.form-container {
    width: 90%;
    max-width: 800px;
    padding: 40px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 60px auto; /* ajuster selon l'espacement désiré par rapport au header */
    border-radius: 8px;
    text-align: center;
}

.modern-btn {
    width: auto; /* Taille selon le contenu */
    padding: 10px 20px;
    background-color: #007BFF; /* Couleur principale */
    color: white;
    border: 2px solid transparent; /* Border for hover effect */
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin: 0 10px; /* Margin pour espacer les boutons */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modern-btn:hover, .modern-btn:focus {
    background-color: #0056b3; /* Couleur au survol */
    border-color: #fff; /* Montre un contour blanc au survol */
}

section {
    width: 90%;
    max-width: 800px;
    padding: 40px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 100px 20px 20px;
    border-radius: 8px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #007BFF;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px; /* Définir une hauteur fixe pour le footer */
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    color: #888;
}

button:hover {
    color: #000;
}

/* Container général pour la TodoList */
#todoList {
    list-style: none;
    padding: 0;
    margin: 40px auto; /* Augmente la marge pour plus de respiration */
    width: 100%;
    max-width: 600px; /* Taille maximale pour maintenir la lisibilité */
    box-sizing: border-box;
}

/* Chaque élément de la liste */
#todoList li {
    background-color: #fff;
    border: none; /* Retire les bordures classiques */
    margin-bottom: 10px; /* Espacement vertical entre les éléments */
    padding: 15px 20px;
    border-radius: 8px; /* Bordures arrondies pour un look moderne */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet de profondeur */
    transition: transform 0.2s ease, box-shadow 0.3s ease; /* Animation pour hover */
}

#todoList li:hover {
    transform: translateY(-3px); /* Effet de léger soulèvement */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée au survol */
}

/* Texte de la tâche */
.task-text {
    flex-grow: 1;
    font-size: 16px; /* Taille de police appropriée pour la lisibilité */
    color: #333; /* Couleur foncée pour le contraste avec le fond */
}

/* Boutons d'action dans chaque élément de la liste */
#todoList button {
    font-size: 16px;
    color: #6c757d; /* Gris pour un look désaturé et professionnel */
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

#todoList button:hover {
    color: #007bff; /* Bleu pour une indication visuelle au survol */
}

/* Icônes Font Awesome utilisées dans les boutons */
.fa-check, .fa-edit, .fa-trash-alt {
    margin: 0 8px; /* Espacement autour des icônes */
}

.completed {
    text-decoration: line-through; /* Barre les tâches complétées */
    color: #aaa; /* Gris clair pour les tâches complétées */
}

/* ADMIN */

.admin-container {
    width: 95%;
    max-width: 1200px;
    margin-top: 100px; /* Ajouter un espace en haut pour ne pas chevaucher le header */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px; /* Assurez-vous que c'est au moins la hauteur du footer */
}

.admin-container h1 {
    color: #333333;
    font-size: 28px;
    margin-bottom: 20px;
}

.admin-container h2 {
    font-size: 22px;
    color: #555;
    margin-top: 20px;
}

.admin-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.admin-container th, .admin-container td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.admin-container th {
    background-color: #f4f4f9;
    color: #333;
}

#userList li, #taskList li {
    padding: 12px 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userList li:hover, #taskList li:hover {
    background-color: #e9efff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#userList li span, #taskList li span {
    font-weight: bold;
    color: #0056b3;
}

.user-info {
    cursor: pointer;
    color: #007BFF;
}

.delete-user-btn, .delete-task-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #dc3545;
    font-size: 18px;
    padding: 5px;
}

.delete-user-btn:hover, .delete-task-btn:hover {
    color: #c82333;
}

/* Styles généraux pour le panel administrateur */
.admin-container {
    width: 95%;
    max-width: 1200px;
    margin: 120px auto 40px; /* Ajout de marge pour éviter la superposition avec le header */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Styles pour le tableau */
.admin-table {
    width: 100%;
    border-collapse: collapse; /* Élimine l'espace entre les bordures */
}

.admin-table th, .admin-table td {
    padding: 12px;
    border: 1px solid #ccc; /* Bordure légère pour chaque cellule */
    text-align: left;
}

.admin-table th {
    background-color: #007BFF;
    color: white;
}

.admin-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes impaires */
}

/* Boutons et icônes dans le tableau */
.button-icon {
    cursor: pointer;
    font-size: 16px; /* Taille des icônes pour les boutons */
    color: #dc3545; /* Couleur rouge pour les boutons de suppression */
    background: none;
    border: none;
    padding: 5px 10px;
}

.button-icon:hover {
    color: #bd2130; /* Couleur plus foncée au survol pour un meilleur contraste */
}

.status-btn {
    color: #d49a2d; /* Vert pour les boutons d'état */
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.status-btn:hover {
    color: #218838; /* Vert foncé au survol */
}

.status-btn.completed {
    color: #28a745; /* Gris pour les tâches complétées */
}

/* Ajout de style pour l'en-tête du tableau pour une meilleure visibilité */
.admin-container h1 {
    margin-bottom: 20px;
    color: #333;
}


/* Styles for tasks and their steps */
.task-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.task-list li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task-detail {
    flex-grow: 1;
    margin-right: 10px;
}

.step-list {
    margin-top: 5px;
    list-style-type: none;
    padding-left: 20px;
}

.step-item {
    padding: 5px 0;
}

.step-action {
    margin-left: auto;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.step-action:hover {
    background-color: #0056b3;
}

.delete-btn, .edit-btn, .complete-btn {
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    background-color: #dc3545;
    color: white;
}

.edit-btn {
    background-color: #ffc107; 
}

.complete-btn {
    background-color: #28a745; 
}

.delete-btn:hover, .edit-btn:hover, .complete-btn:hover {
    opacity: 0.9;
}

.icon-button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
}

.icon-button:hover {
    color: #333;
}

.task-text {
    display: flex;
    align-items: center;
}

.task-icon {
    margin-right: 5px;
    color: #28a745; 
}

.task-completed .task-text {
    color: #aaa;
    text-decoration: line-through;
}
